# Exercise-5: Data analysis with Pandas
## Summer temperature data from Helsinki (in Southern Finland) and Rovaniemi (city in northern Finland) 
Problem 1 - Basic statistics of the data (5 points)

In [166]:
import pandas as pd
na_values=['*', '**', '***', '****', '*****', '******']
dataFrame = pd.read_csv('6153237444115dat.csv',delimiter = ',',na_values  = na_values,index_col = 1)
print(dataFrame.head(5))
print('Describe:\nNumber of Rows:{}\nNumber of Columns:{}'.format(len(dataFrame),len(dataFrame.columns)))
print(dataFrame.info())

        USAF  YR--MODAHRMN    DIR   SPD   GUS  CLG  SKC   L   M   H  ...   \
WBAN                                                                 ...
99999  28450  201705010000  174.0  10.0  14.0  NaN  NaN NaN NaN NaN  ...
99999  28450  201705010020  180.0  10.0   NaN  4.0  NaN NaN NaN NaN  ...
99999  28450  201705010050  190.0  10.0   NaN  4.0  NaN NaN NaN NaN  ...
99999  28450  201705010100  188.0  12.0  16.0  NaN  NaN NaN NaN NaN  ...
99999  28450  201705010120  200.0  13.0   NaN  2.0  OBS NaN NaN NaN  ...

          SLP    ALT    STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
WBAN
99999  1009.2    NaN  984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
99999     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
99999     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
99999  1009.1    NaN  984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
99999     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN

[5 rows x 32 columns]
Describe:
Number of Rows:11694
Number of Columns:32
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11694 entries, 99999 to 99999
Data columns (total 32 columns):
USAF            11694 non-null int64
YR--MODAHRMN    11694 non-null int64
DIR             11660 non-null float64
SPD             11688 non-null float64
GUS             3218 non-null float64
CLG             5513 non-null float64
SKC             3186 non-null object
L               0 non-null float64
M               0 non-null float64
H               0 non-null float64
VSB             9204 non-null float64
MW              422 non-null float64
MW.1            16 non-null float64
MW.2            0 non-null float64
MW.3            0 non-null float64
AW              6041 non-null float64
AW.1            0 non-null float64
AW.2            0 non-null float64
AW.3            0 non-null float64
W               1354 non-null float64
TEMP            11691 non-null float64
DEWP            11689 non-null float64
SLP             5833 non-null float64
ALT             5858 non-null float64
STP             5833 non-null float64
MAX             486 non-null float64
MIN             486 non-null float64
PCP01           254 non-null float64
PCP06           0 non-null float64
PCP24           4 non-null float64
PCPXX           2 non-null float64
SD              4435 non-null float64
dtypes: float64(29), int64(2), object(1)
memory usage: 2.9+ MB
None

In [189]:
mean_F_data = dataFrame.loc[:,'TEMP']
mean_F = mean_F_data.mean()
print(mean_F,'F degress')

52.24796852279531 F degress

In [168]:
import numpy as np
max_std_data = dataFrame.loc[:,'MAX'].dropna()
print(max_std_data.describe())

count    486.000000
mean      58.611111
std       10.307989
min       29.000000
25%       52.250000
50%       60.500000
75%       66.000000
max       77.000000
Name: MAX, dtype: float64

In [107]:
print('Number of Unique Stations:{}\n{}'.format(len(dataFrame.loc[:,'USAF'].unique()),dataFrame.loc[:,'USAF'].unique()))

Number of Unique Stations:2
[28450 29980]

Problem 2 - Data manipulation (5 points)

In [188]:
selected = dataFrame.loc[:,[ 'USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']].dropna()

selected.loc[:,'Celsius'] = ((selected.loc[:,'TEMP']-32)/1.8).round(0).astype('int')
print(selected.head(5))

        USAF  YR--MODAHRMN  TEMP   MAX   MIN  Celsius
WBAN
99999  28450  201705010600  31.0  34.0  31.0       -1
99999  28450  201705011800  42.0  44.0  30.0        6
99999  28450  201705020600  41.0  42.0  35.0        5
99999  28450  201705021800  37.0  45.0  36.0        3
99999  28450  201705030600  37.0  37.0  33.0        3

Problem 3 - Data selection (5 points)

In [170]:
rovaniemi = dataFrame.loc[dataFrame.loc[:,'USAF']==28450,:]
kumpula = dataFrame.loc[dataFrame.loc[:,'USAF']==29980,:]

kumpula.to_csv('Kumpula_temps_May_Aug_2017.csv',sep = ',',float_format = '%.2f')
rovaniemi.to_csv('Rovaniemi_temps_May_Aug_2017.csv',sep = ',',float_format = '%.2f')

Problem 4 - Data analysis

In [171]:
kumpula_data = pd.read_csv('Kumpula_temps_May_Aug_2017.csv',index_col = 0)
kumpula_data_mean_temp = kumpula_data.loc[:,'TEMP'].dropna().mean()

rovaniemi_data = pd.read_csv('Rovaniemi_temps_May_Aug_2017.csv',index_col=0)
rovaniemi_data_mean_temp = rovaniemi_data.loc[:,'TEMP'].dropna().mean()

print('Mean Temperature in:\nKumpala: {} C degree\nRovaniemi: {} C degree'.format(kumpula_data_mean_temp.round(2),rovaniemi_data_mean_temp.round(2)))

Mean Temperature in:
Kumpala: 57.07 C degree
Rovaniemi: 50.64 C degree

In [190]:
kumpula_datetime = pd.to_datetime(kumpula_data.loc[:,'YR--MODAHRMN'].astype('str'),format = "%Y%m%d%H%M")
rovaniemi_datetime = pd.to_datetime(rovaniemi_data.loc[:,'YR--MODAHRMN'].astype('str'),format = "%Y%m%d%H%M")
kumpula_may = (rovaniemi_data.loc[[i.month==5 for i in kumpula_datetime],'TEMP']-32)/1.8
rovaniemi_may = (rovaniemi_data.loc[[i.month==5 for i in rovaniemi_datetime],'TEMP']-32)/1.8
kumpula_june = (rovaniemi_data.loc[[i.month==6 for i in kumpula_datetime],'TEMP']-32)/1.8
rovaniemi_june = (rovaniemi_data.loc[[i.month==6 for i in rovaniemi_datetime],'TEMP']-32)/1.8

print('Kumpula Temp in May (C degree):\n *Mean:%.2f\n *Max:%.2f\n *Min:%.2f'%(kumpula_may.mean(),kumpula_may.max(),kumpula_may.min()))
# print(kumpula_may.describe())
print('Kumpula Temp in June (C degree):\n *Mean:%.2f\n *Max:%.2f\n *Min:%.2f'%(kumpula_june.mean(),kumpula_june.max(),kumpula_june.min()))
print('Rovaniemi Temp in May (C degree):\n *Mean:%.2f\n *Max:%.2f\n *Min:%.2f'%(rovaniemi_may.mean(),rovaniemi_may.max(),rovaniemi_may.min()))
print('Rovaniemi Temp in June (C degree):\n *Mean:%.2f\n *Max:%.2f\n *Min:%.2f'%(rovaniemi_june.mean(),rovaniemi_june.max(),rovaniemi_june.min()))

Kumpula Temp in May (C degree):
 *Mean:1.16
 *Max:12.22
 *Min:-7.22
Kumpula Temp in June (C degree):
 *Mean:2.39
 *Max:11.11
 *Min:-3.89
Rovaniemi Temp in May (C degree):
 *Mean:2.99
 *Max:15.00
 *Min:-7.22
Rovaniemi Temp in June (C degree):
 *Mean:11.02
 *Max:23.33
 *Min:-1.11

Not much changes in Kumpula but huge difference in Rovaniemi (10 degresses) in just 1 month

In [251]:
data_ex5 = dataFrame.loc[:,['USAF','YR--MODAHRMN','TEMP']]
places = data_ex5.loc[:,'USAF'].unique()
print(places)

[28450 29980]

In [256]:
def get_day_data(data,date):
    index = [str(date) in str(i) for i in data.loc[:,'YR--MODAHRMN']]
    date_data = data.loc[index ,:]
    temp_mean = date_data.loc[:,'TEMP'].mean().round(2)
    temp_max = date_data.loc[:,'TEMP'].max()
    temp_min = date_data.loc[:,'TEMP'].min()
    return temp_mean,temp_max,temp_min

def get_record(data,place_id):
    place_data = data.loc[data.loc[:,'USAF']==place_id,:]
    columns = ['date','mean','max','min']
    place_out_data = []
    dates = (place_data.loc[:,'YR--MODAHRMN'].astype('int64')*1e-4).astype('int64').unique()
    for day in dates:
        temp_mean,temp_max,temp_min =get_day_data(place_data,day) 
        place_out_data.append([day,temp_mean,temp_max,temp_min])
    place_out_data = pd.DataFrame(place_out_data,columns = columns)
#     print(place_out_data)
    return place_out_data
place_name = {28450 : 'Rovaniemi',29980 : 'Helsinki Kumpula'}
places_data = {}
for place in places:
    places_data[place] = get_record(data_ex5,place)

print(places_data[places[0]])

         date   mean   max   min
0    20170501  35.96  44.0  30.0
1    20170502  38.18  45.0  33.0
2    20170503  35.79  39.0  30.0
3    20170504  39.90  48.0  30.0
4    20170505  44.43  54.0  34.0
5    20170506  31.28  35.0  27.0
6    20170507  28.90  34.0  21.0
7    20170508  28.51  34.0  19.0
8    20170509  30.85  37.0  27.0
9    20170510  29.61  35.0  25.0
10   20170511  29.12  34.0  25.0
11   20170512  31.43  37.0  25.0
12   20170513  31.53  37.0  27.0
13   20170514  32.76  37.0  25.0
14   20170515  34.56  40.0  27.0
15   20170516  38.51  46.0  29.0
16   20170517  36.69  38.0  34.0
17   20170518  41.46  52.0  34.0
18   20170519  43.14  48.0  38.0
19   20170520  40.11  44.0  36.0
20   20170521  43.89  50.0  36.0
21   20170522  47.32  54.0  41.0
22   20170523  42.39  47.0  34.0
23   20170524  47.19  55.0  34.0
24   20170525  47.82  59.0  36.0
25   20170526  38.08  43.0  30.0
26   20170527  36.54  41.0  32.0
27   20170528  34.74  38.0  32.0
28   20170529  38.43  44.0  32.0
29   20170530  41.25  47.0  30.0
..        ...    ...   ...   ...
93   20170802  60.14  68.0  52.0
94   20170803  58.29  64.0  50.0
95   20170804  54.78  59.0  48.0
96   20170805  56.14  64.0  52.0
97   20170806  51.65  55.0  48.0
98   20170807  52.29  57.0  45.0
99   20170808  57.23  65.0  43.0
100  20170809  59.01  67.0  50.0
101  20170810  56.51  63.0  50.0
102  20170811  57.26  63.0  54.0
103  20170812  60.67  68.0  54.0
104  20170813  55.61  59.0  45.0
105  20170814  52.31  61.0  45.0
106  20170815  52.02  60.0  41.0
107  20170816  56.42  64.0  48.0
108  20170817  56.93  64.0  48.0
109  20170818  59.64  69.0  46.0
110  20170819  60.36  64.0  57.0
111  20170820  57.11  59.0  54.0
112  20170821  56.14  59.0  54.0
113  20170822  49.67  55.0  43.0
114  20170823  45.53  48.0  41.0
115  20170824  46.49  50.0  44.0
116  20170825  44.19  47.0  39.0
117  20170826  44.07  52.0  37.0
118  20170827  45.85  50.0  41.0
119  20170828  48.46  55.0  37.0
120  20170829  51.46  54.0  46.0
121  20170830  52.33  58.0  48.0
122  20170831  53.54  63.0  46.0

[123 rows x 4 columns]